.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  padding: 0 12px;
}

.carousel {
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: hidden;
  transition: ease 0.5s;
}

.img-banner {
  min-width: 100%;
  width: 100%;
  object-fit: cover;
}

.btn-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  position: absolute;
  background: white;
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.1);
  border-radius: 50%;
  cursor: pointer;
}

.next {
  right: 16px;
}

.back {
  left: 16px;
}

.bullet {
  width: 12px;
  height: 12px;
  background-color: #cbcbcb;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bullets {
  width: auto;
  padding: 4px 8px;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  background: gray;
  border-radius: 16px;
  position: absolute;
  bottom: 10px;
}

.bullet.active {
  background: var(--pinguim);
  transform: scale(1.2);
}

.container-product-carousel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cards-container {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 12px 24px;
  overflow-x: hidden;
  height: 480px;
}


.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  max-height: 400px;
  background: rgb(206, 205, 205);
  position: relative;
  border-radius: 12px;
  /* border: 4px solid #fff; */
  outline: 2px solid #000;
  /* box-shadow: 6px 6px 0px #7f7f7f; */
  background: white;
  flex-shrink: 0;
  position: relative;
  transition: ease-in 0.1s;
}

.card:hover {
  transform: rotate(-2deg) scale(1.05);
  box-shadow: 8px 8px 0px #9d9d9d;
}

.container-img {
  position: relative;
  max-width: 100%;
  /* max-height: 200px; */
}

.img-card {
  width: 300px;
  height: 260px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px ;
}

.btn-product {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 4px solid #fff;
  outline: 2px solid #000;
  box-shadow: 6px 6px 0px var(--shadow-color);
  background: white;
  transition: ease-in 0.2s;
}

.btn-product:hover {
  transform: scale(1.1);
}

.buttons-container {
  width: 100%;
  z-index: 99;
  position: absolute;
}

.card-tags {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  padding: 0 12px;
  gap: 4px;
  position: absolute;
  top: -30px;
  z-index: 10000;
}

.tag {
  max-width: 30px;
  min-height: 30px;
}

.tag-discount {
  max-width: 40px;
}

.tag img {
  width: 100%;
  object-fit: contain;
}

.card-info {
  align-items: center;
  /* gap: 12px; */
  padding: 8px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text h2 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.card-prices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-price{
  font-size: 14px;
  color: var(--color-gray);
  text-decoration: line-through;
}

/* coração */
.card-prices button {
  /* background: rgb(255, 79, 79); */
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.currently-price {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-primary);
}

.buy-btn {
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  background: var(--cor-amarelo-teste);
  color: var(--color-white);
  width: 100%;
  border: 2px solid black;
  transition: ease-in 0.1s;
}

.buy-btn:hover {
  background-color: white;
  color: var(--cor-amarelo-teste);
}

/* banner personalizavel*/
.banner-text {
  display: flex;
  align-items: center;
  width: 100%;
}

.banner-content {
  text-align: center;
  width: 40%;
  font-size: 18px;
}

.banner-text-img {
  width: 60%;
  object-fit: contain;
}




.header-bottom {
  display: block !important;
}