* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-grow: 1;
}

html, body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}