@import url('./reset.css');
@import url('./variables.css');
@import url('./utils.css');
@import url('./main.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./events.css');
@import url('./teste.css');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--cor-teste-main);
  position: relative;
  background-color: #fff9e5;
  background-image: radial-gradient(#d1cfc1 1px, transparent 1px);
  background-size: 30px 30px; /* Distância entre os pontos */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  gap: 16px;
}

footer {
  width: 100%;
}
