section {
  /* display: flex; */
  /* flex-direction: column; */
  max-width: 1280px;
  width: 100%;
  padding: 0 12px;
  overflow-x: auto;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 8px;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: var(--text-title);
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-0 {
  padding: 0;
}

.hidden-x {
  overflow-x: hidden;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}