/* configuração de variáveis de cores e fontes */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=DM+Sans:wght@300;400;500&display=swap');
 
:root {
  --bg-primary: #5bbfe2;
  --text-primary: #f3f3f3;
  --bg-main: #ebcd6a;
  --bg-main-50: #e6c350; 
  --bg-footer: #5bbfe2;
  --text-footer: #e3e3e3;
  --text-title: #1B365D;
  
  /* cores testes */
  --cor-teste-main: #fff9e5;
  --text-primary: #543D28;    /* Um marrom bem escuro para ler melhor sobre o amarelo */
  --accent-button: #F28482;   /* Salmão para os botões */
  --card-border: #E9D8A6;     /* Amarelo médio para bordas discretas */
  --cor-amarelo-teste: #ebcd6a;

  
  --amarelo-claro: #fffac8;

  --color-white: #ffffff;
  --color-black: #3F3F46;
  --color-gray: #bdbdbd;

  --cream:        #F5F0E8;
  --ink:          #1a1a1a;
  --pink:         #D4789A;
  --pink-light:   #F2C4D4;
  --lilac:        #C5A8C8;
  --gold:         #C8A96A;
  --header-bg:    #5bbfe2;
  --nav-bg:       #5bbfe2;
  
  --font-display: 'DM Sans', sans-serif;
  --font-body:    'DM Sans', sans-serif;

  --font-mont: 'Montserrat', sans-serif;

  --shadow-color: #9d9d9d;

  --cinza-escuro: #222222;

  --grey-04: #fafafa;
  --grey-08: #f4f4f4;
  --grey-12: #ededed;
  --grey-20: #e6e6e6;
  --grey-40: #b8b8b8;
  --grey-55: #8a8a8a;
  --grey-70: #5a5a5a;
}
