<div class="container flex-col">
  <div class="footer-top">
    <div class="footer-left flex-col">
        <h2 class="footer-logo">
          koridraws
          <div class="bola bola-corvo"></div>
          <div class="bola bola-pinguim"></div>
        </h2>
      <button class="btn-footer">
        Voltar para o Topo
      </button>
    </div>
    <div class="footer-right">
      <div class="navigation">
        <h3 class="footer-title">Navegação</h3>
        <ul>
          <li class="footer-item"><a href="home.html">Início</a></li>
          <li class="footer-item"><a href="product.html">Produtos</a></li>
          <li class="footer-item"><a href="sobre.html">Sobre</a></li>
          <li class="footer-item"><a href="agenda.html">Agenda</a></li>
          <li class="footer-item"><a href="contato.html">Contato</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <h3 class="footer-title">Contatos</h3>
        <p><a href="#">(11) 99999-9999 </a></p>
        <p><a href="#">contato@meusite.com</a></p>
      </div>
      <div class="footer-social">
        <h3 class="footer-title">Redes Sociais</h3>
        <a href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4l0 -8" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
        </a>
        <a href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4l0 -8" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
        </a>
      </div>
      
    </div>
  </div>
  <div class="footer-bottom">  
    <p class="footer-copy">© 2026 KORIDRAWS - Todos os direitos reservados.</p>
  </div>
</div>