<div class="container flex-col">
  <div class="footer-top">
    <div class="footer-left flex-col">
        <h2 class="footer-logo">
          koridraws
          <div class="bola bola-corvo"></div>
          <div class="bola bola-pinguim"></div>
        </h2>
      <button class="btn-footer">
        Voltar para o Topo
      </button>
    </div>
    <div class="footer-right">
      <div class="navigation">
        <h3 class="footer-title">Navegação</h3>
        <ul>
          <li class="footer-item"><a href="#">Início</a></li>
          <li class="footer-item"><a href="#">Produtos</a></li>
          <li class="footer-item"><a href="#">Sobre</a></li>
          <li class="footer-item"><a href="#">Agenda</a></li>
          <li class="footer-item"><a href="#">Contato</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <h3 class="footer-title">Contatos</h3>
        <p><a href="#">(11) 99999-9999 </a></p>
        <p><a href="#">contato@meusite.com</a></p>
      </div>
      <div class="footer-links">
        <ul>
          <li><a href="#">Termos de Uso</a></li>
            <li><a href="#">Pagamentos</a></li>
          <li><a href="#">Envios</a></li>
          <li><a href="#">Perguntas Frequentes</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Devoluções</a></li>
          <li><a href="#">Reembolsos</a></li>
        </ul>
      </div>
      
    </div>
  </div>
  <div class="footer-bottom">  
    <p class="footer-copy">© 2026 KORIDRAWS - Todos os direitos reservados.</p>
  </div>
</div>