<header class="site-header">
  <div class="header-top container">
    <a href="#" class="logo" aria-label="Koridraws – Página inicial">
      <div class="logo-mark">
        <img src="/assets/images/pinguim-1.svg" alt="img-logo">
      </div>
      <span class="logo-name">Koridraws</span>
    </a>

    <div class="search-bar">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
      <input type="text" placeholder="Digite...">
    </div>

    <div class="header-actions">
      <button class="action-btn" aria-label="Minha Conta">
        <img src="/assets/icons/user.svg" alt="icon-user">
      </button>
      <button class="action-btn cart-btn" aria-label="Carrinho">
        <img src="/assets/icons/shopping-cart.svg" alt="icon-cart">
      </button>
    </div>
  </div>  
</header>